trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

steps:
- script: python -m pip install --upgrade pip pre-commit
  displayName: 'Install pre-commit'

- script: python -m pip install --upgrade pip checkov
  displayName: 'Install checkov'

- script: |
    sudo apt install -y jq
    # Download and unzip Terraform
    LATEST_URL=$(curl https://releases.hashicorp.com/terraform/index.json | jq -r '.versions[].builds[].url | select(.|test("alpha|beta|rc")|not) | select(.|contains("linux_amd64"))' | sort -t. -k 1,1n -k 2,2n -k 3,3n -k 4,4n | tail -1)
    curl ${LATEST_URL} > /tmp/terraform.zip
    # Unzip and move Terraform to a folder which is in $PATH
    (cd /tmp && unzip /tmp/terraform.zip && chmod +x /tmp/terraform && sudo mv /tmp/terraform /usr/local/bin/)
  displayName: Install Terraform

- script: |
    # Download and unzip tflint
    curl -L "$(curl -Ls https://api.github.com/repos/terraform-linters/tflint/releases/latest | grep -o -E "https://.+?_linux_amd64.zip")" -o tflint.zip
    unzip tflint.zip
    # Move tflint to a folder which is in $PATH
    sudo mv tflint /usr/local/bin/
    rm tflint.zip
  displayName: Install tflint

- script: |
    # Download tfsec
    curl -L "$(curl -s https://api.github.com/repos/aquasecurity/tfsec/releases/latest | grep -o -E -m 1 "https://.+?tfsec-linux-amd64")" -o tfsec
    chmod +x tfsec
    # Move tfsec to a folder which is in $PATH
    sudo mv tfsec /usr/local/bin/
  displayName: Install tfsec

- script: |
    # Download terraform-docs
    curl -L "$(curl -s https://api.github.com/repos/terraform-docs/terraform-docs/releases/latest | grep -o -E -m 1 "https://.+?-linux-amd64.tar.gz")" -o terraform-docs.tgz
    tar -xzf terraform-docs.tgz terraform-docs
    rm terraform-docs.tgz
    chmod +x terraform-docs
    # Move terraform-docs to a folder which is in $PATH
    sudo mv terraform-docs /usr/local/bin/
  displayName: Install terraform-docs

- script: |
    # Download terraform-docs
    curl -L "$(curl -s https://api.github.com/repos/accurics/terrascan/releases/latest | grep -o -E -m 1"https://.+?_Linux_x86_64.tar.gz")" -o terrascan.tar.gz
    tar -xzf terrascan.tar.gz terrascan
    rm terrascan.tar.gz
    chmod +x terraform-docs
    # Move terrascan to a folder which is in $PATH
    sudo mv terrascan /usr/local/bin/
    terrascan init
  displayName: Install terrascan

- script: make pre-commit
  displayName: 'Validate terraform'
